@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #000000;
  background: #ffffff;
  margin:0;
}

h4{
  margin: 0;
  grid-column: 1/5;
  z-index: 2;
}

hr{
  border-color: rgba(0,0,0,0.7);
}

.logo{
  max-width: 300px;
}

.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5fr;
  grid-template-areas:
    "hr hr hr hr"
    "h4 h4 h4 h4"
    "h4 h4 h4 h4"
    "t-1 t-2 t-3 t-4"
    "ver ver ver ver";
}

[for*='-1']{
  grid-area: t-1;
}

[for*='-2']{
  grid-area: t-2;
}

[for*='-3']{
  grid-area: t-3;
}

[for*='-4']{
  grid-area: t-4;
}

:checked + label + article{
	grid-area: ver;
	z-index: 1;
}

.hide{
  display: none;
}

.card{
  text-align: center;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

[class*='tab-'] {
	opacity: 0;
	max-width: 0;
	max-height: 0;
	display: flex;
	flex-direction: columns;
	flex-wrap: nowrap;
	align-items: center;
}


:checked + label + [class*='tab-'] {
	background: #fff;
	opacity: 1;
	max-width: 100%;
	max-height: 300vh;
	animation: show 1s;
}

label {
  z-index: 1;
  font-variant: small-caps;
  cursor: pointer;
  font-size: 1.4em;
  border-bottom: 3px solid rgba(0,0,0,.25);
}

.lilbox{
  border-bottom: 2px solid rgba(98, 98, 98, 0.63);
}

label:hover{
  transition: 0.5s;
  background: rgba(150, 177, 231,0.5);
}

input{
  text-align: center;
}

input:not(checked) + label {
	background: rgba(0,0,0,.05);
}
input:checked + label {
  border-top: 2px solid rgb(150, 177, 231);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
	background: rgba(0,0,0,.15);
}


.wrapper{
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-columns: minmax(0.1em, auto);
  grid-auto-rows: minmax(0.1em, auto);
  grid-gap: 0;
}

.stats{
  font-weight: bold;
  grid-column: span 2;
  border-left: 1px solid rgba(0,0,0,.25);
  border-bottom: 1px solid rgba(0,0,0,.25);
  border-top: 0;
  text-align: center;
  background: rgba(0,0,0,0.1);
}

.title{
  border-right: 0;
  background-color: rgb(150, 177, 231);
}

.lsthree{
  grid-column: span 6;
}

.full{
  margin:0;
  grid-column: span 6;
}

.lsone{
  grid-column: span 2;
}

.lsonehalf{
  grid-column: span 3;
}

.lstwo{
  grid-column: span 4;
}

.next{
  /*cursor: pointer;*/
  grid-column: 5/7;
  background-color: rgb(150, 177, 231);
  border: 1px solid rgba(0,0,0,.25);
}

.prev{
  grid-column: 1/3;
  background-color: rgb(150, 177, 231);
  border: 1px solid rgba(0,0,0,.25);
}

.basics{
  grid-row: 15;
}

.skills{
  grid-row: 9;
}

.bonuses{
  grid-row: 11;
}

.persona{
  grid-row: 18;
}

.forminput{
  width:80%;
  background: rgba(0,0,0,0);
  border: 0;
  border-bottom: 2px solid rgba(0,0,0,.25);
  margin-bottom: 3px;
}

.biginput{
  width: 80%;
  height: 80%;
  border: 1px solid rgba(0,0,0,.25);
  border-top: 0;
  border-bottom: 2px solid rgba(0,0,0,.25);
  background: rgba(0,0,0,0.07);
}

.smallinput{
  width: 30%;
}

.tableinput{
  border-left: 1px solid rgba(0,0,0,.25);
  border-right: 1px solid rgba(0,0,0,.25);
}

.nobot{
  border-bottom: 0;
}

.notop{
  border-top: 0;
}

@keyframes show {
	0%, 20% {
		opacity: 0;
		max-height: 0;
	}
	100% {
		opacity: 1;
		max-height: 300vh;
	}
}

/*generated table*/

.tg  {border-collapse:collapse;border-spacing:0; width: 97%;}
/*.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-kr94{font-size:12px;text-align:center}
.tg .tg-hnao{font-size:12px;font-family:Verdana, Geneva, sans-serif !important;;text-align:center}*/
