 body{
   font-family: "Verdana", Arial;
   background-color: #50d8e6;
 }

 h2{
   margin: 5px;
 }
 h3{
   margin: 4px;
 }
 h4{
   margin: 0;
   margin-left: 2px;
   margin-right: 2px;
 }
 .bigminwidth{
   min-width: 47%;
 }
 .top{
   border: double;
   border-color: #6a72bd;
   overflow: hidden;
 }

 .botmarg{
   margin: 1%;
   width: inherit;
   border: 1px solid #000000;
   border-bottom: 5px solid #000000;
   background-color: #c4f5f6;
   text-align: center;
 }
 .maxwidth{
   width: 96%;
 }
 .minicontainerstats{
   background-color: #66a4cc;
   width: 14%;
   margin: 1%;
   border: 1px solid #000000;
   border-top: 4px solid #000000;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   float: left
 }
 .minicontainerstats2{
   background-color: #66a4cc;
   width: 17.2%;
   margin: 1%;
   border: 1px solid #000000;
   border-top: 4px solid #000000;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   float: left
 }
 .minicontainer{
   background-color: #66a4cc;
   margin: 1%;
   border: 1px solid #000000;
   border-top: 4px solid #000000;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   float: left;
 }
 .littlebox{
   border: solid;
   margin: 1%;
   margin-top: 0;
   float: left;
   overflow: auto;
 }

 .round{
   border-color: #000000;
   border-radius: 5px;
 }

 /*tabela gerada*/
  .tg  {border-collapse:collapse;border-spacing:0; margin-left: 1%; margin-bottom: 1%;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg .tg-z39z{font-size:12px;font-family:Verdana, Geneva, sans-serif !important;;text-align:center;vertical-align:top}
  .tg .tg-rg0h{font-size:12px;text-align:center;vertical-align:top}
